.glass {
  background: #ffb73b8c;
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.4px);
  border: 1px solid rgba(25, 23, 23, 0.3);

  @apply shrink rounded-3xl py-20 px-7  min-w-max;
}

.glass img {
  max-width: 100%;
  height: auto;
}

.glass2 {
  background: #ffb73b8c;
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(100);
  border: 1px solid rgba(25, 23, 23, 0.3);

  @apply shrink  rounded-3xl py-20 px-7  min-w-max;
}

.glass2 img {
  max-width: 100%;
  height: auto;
}

.gold {
  background: linear-gradient(
    360deg,
    rgba(235, 193, 57, 0.863) 0%,
    rgb(110, 46, 46) 20%,
    rgb(225, 170, 18) 100%
  );
}

.gold:hover {
  background: linear-gradient(
    180deg,
    rgb(110, 46, 46) 14%,
    rgb(247, 193, 46) 100%,
    rgb(130, 58, 58) 100%
  );
}

/* Toaster */

.Toastify__toast--success {
  background: linear-gradient(
    30deg,
    rgba(235, 193, 57, 0.863) 0%,
    rgb(110, 46, 46) 20%,
    rgb(225, 170, 18) 100%
  ) !important;
  color: #000000 !important;
}

.Toastify__toast--error {
  background: linear-gradient(
    30deg,
    rgba(235, 193, 57, 0.863) 0%,
    rgb(110, 46, 46) 20%,
    rgb(225, 170, 18) 100%
  ) !important;
  color: #000000 !important;
}

.Toastify__toast--error .Toastify__progress-bar {
  background: hsla(0, 98%, 38%, 0.999) !important;
}

.Toastify__toast--success .Toastify__progress-bar {
  background: hsla(109, 97%, 42%, 0.818) !important;
}
